#myNavBar {
    text-align: center;
}

#myNavBar ul {
    padding: 0;
}
#myNavBar li {
    display: inline-block;
    margin: 0 10px;
}


#headLogoTopOfWebpage {
    text-align: center;
    font-size: xx-large;
    font-variant-caps: all-small-caps;
}